---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ccj - 关于">
  <h1 class="text-3xl font-bold mb-4">让你领略下ccj有多菜吧！</h1>
  <nav class="mt-4">
    <a href="/" class="text-blue-600 hover:underline mr-4">首页</a>
    <a href="/about/" class="text-blue-600 hover:underline mr-4">关于</a>
    <a href="/blog/" class="text-blue-600 hover:underline">博客</a>
  </nav>
</Layout>
